<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">dating app</a>

        <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/members']">matches</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/lists']">lists</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/messages']">messages</a>
            </li>
        </ul>

        <div class="dropdown" *ngIf="loggedIn()" dropdown>
            <span class="mr-2">
                <img src="{{ photoUrl || '../../../assets/user.png' }}" alt="">
            </span>
            <a class="dropdown-toggle text-light" style="cursor: pointer;" dropdownToggle>
                <!-- welcome {{ authService.decodedToken?.unique_name }} -->
                Welcome {{ authService.currentUser.knownAs }}
            </a>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i> edit profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" (click)="logOut()"><i class="fa fa-sign-out"></i> log out</a>
            </div>
        </div>

        <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
            <input class="form-control mr-sm-2" type="text" placeholder="username" required name="username" [(ngModel)]="model.username">
            <input class="form-control mr-sm-2" type="password" placeholder="password" required name="password" [(ngModel)]="model.password">
            <button class="btn btn-success my-2 my-sm-0" type="submit" [disabled]="!loginForm.valid">log in</button>
        </form>
    </div>
</nav>